# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# PowerShell
*.ps1xml

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Visual Studio Code
.vscode/

# JetBrains IDEs
.idea/

# macOS
.DS_Store

# Linux
*~
